In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv('loans_full_schema.csv')
df.head(100)

,emp_title,emp_length,state,homeownership,annual_income,verified_income,debt_to_income,annual_income_joint,verification_income_joint,debt_to_income_joint,...,sub_grade,issue_month,loan_status,initial_listing_status,disbursement_method,balance,paid_total,paid_principal,paid_interest,paid_late_fees
0,global config engineer,3.0,NJ,MORTGAGE,90000.0,Verified,18.01,NaN,NaN,NaN,...,C3,Mar-2018,Current,whole,Cash,27015.86,1999.33,984.14,1015.19,0.0
1,warehouse office clerk,10.0,HI,RENT,40000.0,Not Verified,5.04,NaN,NaN,NaN,...,C1,Feb-2018,Current,whole,Cash,4651.37,499.12,348.63,150.49,0.0
2,assembly,3.0,WI,RENT,40000.0,Source Verified,21.15,NaN,NaN,NaN,...,D1,Feb-2018,Current,fractional,Cash,1824.63,281.80,175.37,106.43,0.0
3,customer service,1.0,PA,RENT,30000.0,Not Verified,10.16,NaN,NaN,NaN,...,A3,Jan-2018,Current,whole,Cash,18853.26,3312.89,2746.74,566.15,0.0
4,security supervisor,10.0,CA,RENT,35000.0,Verified,57.96,57000.0,Verified,37.66,...,C3,Mar-2018,Current,whole,Cash,21430.15,2324.65,1569.85,754.80,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,territory manager,3.0,TX,MORTGAGE,190000.0,Not Verified,15.84,NaN,NaN,NaN,...,A2,Jan-2018,Current,whole,Cash,10771.90,1474.16,1228.10,246.06,0.0
96,sr engineer,10.0,CO,RENT,126000.0,Source Verified,3.82,NaN,NaN,NaN,...,A1,Feb-2018,Current,whole,Cash,14793.69,1982.72,1706.31,276.41,0.0
97,office manager,10.0,MA,MORTGAGE,95000.0,Not Verified,15.48,NaN,NaN,NaN,...,A1,Feb-2018,Current,whole,DirectPay,17214.48,2307.17,1985.52,321.65,0.0
98,petroleum operator,10.0,NJ,MORTGAGE,80000.0,Source Verified,14.16,NaN,NaN,NaN,...,B2,Jan-2018,Current,whole,Cash,6191.30,1132.41,858.70,273.71,0.0
99,owner,10.0,MN,MORTGAGE,23000.0,Verified,49.58,98000.0,Verified,19.87,...,D4,Feb-2018,Current,whole,Cash,14395.45,1572.97,604.55,968.42,0.0